$primary-color: linear-gradient (110deg, rgb(20, 19, 20) 46%, rgba(6, 10, 38, 1) 95%);
$color-white: #fff;
$color-green: #20da7d;
$color-blue: #e7e3ffcb;
$box-shadow: rgba(88, 87, 88, .4);
$box-shadow-second: rgba(18, 95, 69, .4);
$box-shadow-third: rgba(0, 0, 0, .1);
$bg-card: linear-gradient (140.32deg, #4b4949 -277.16%, #141218 66.28%);